@import 'colors';
@import 'media-queries';

%align-center {
    display: flex;
    align-items: center;
}

.remove-menu {
    display: none;
}

.add-menu {
    display: flex;
}
.navbar {
    background: $claro;
    color: $cinza-escuro;
    height: 80px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    position: relative;

    &-logo {
        font-size: 2rem;
        margin-left: 24px;
        img {
            height: 82px;
        }
        @extend %align-center;
    }

    &-button {
        background: $claro;
        display: none;
        border: none;
        cursor: pointer;
        position: absolute;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        &-bar {
            height: 3px;
            width: 100%;
            background: $cinza-escuro;
            border-radius: 10px;
        }

        @include tablet {
            color: $cinza-escuro;
            display: flex;
            position: absolute;
            top: 29px;
            right: 20px;
            font-size: 2rem;
            margin-left: 1rem;
            transition: all 0.3s;
        }
    }

    &-menu,
    ul {
        @extend %align-center;
        list-style: none;
        text-align: center;
        margin-right: 24px;
        @include tablet {
            
            flex-direction: column;
            align-items: flex-end;
            background: $claro;
            margin-right: 0px;
            margin-bottom: 10px;
            
        }
        &-links {
            @extend %align-center;
            color: $cinza-escuro;
            justify-content: center;
            text-decoration: none;
            padding: 0 1rem;
            &:hover {
                color: $roxo-escuro;
                transition: all 0.3s ease;
            }
        }
    }
    @include tablet {
        flex-direction: column;
        height: 100%;
        font-size: 1.5rem;
    }
}

